
.body_css {
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}


.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-primary {
    background-color: #6aaa64;
    color: white;
}

.btn-primary:hover {
    background-color: #579c58;
}

.exit, .delete {
    background-color: red;
    color: white;
}

.orderPopup {
    text-align: center;
    display: none; /* 모달 전체 처음에는 숨김 */
}

.popup {
    display: none;
}

.order-popup-content {
}

.popup-content {
}

.popup-table td {
}

.popup-center {
}

.taf {
    display: inline-block;
    text-align: left;
    width: 360px;
}

.btn-container2 {
    text-align: right;
}


.hidden {
    display: none;
}

@media print {
    @page {
        size: A4;
        margin-left: 5mm;
        margin-right: 5mm;
        margin-top: 8mm;
        margin-bottom: 8mm;
    }

    .btn-container2 {
        display: none;
    }
}

.testBox {
    text-align: center;
    width: 100px;
    height: 80px;
    margin-top: 30%;
    margin-left: 40%;
}
