/* 화면 전체 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.product_container {
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

}

.productImformationTable-style {  /*테이블 스타일 */
    width: 1480px;
    border-collapse: collapse;
    font-size: 0.875rem;
}



.productImformationTable-header { /*계약의 테이블 헤더 */
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border-bottom: 1px solid #e2e8f0;
    background-color: #f2f2f2;
}

.productImformationTable-data { /*공통 테이블 (내용?) */
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #e2e8f0;
}

.ContractModal {
    display: none; /* 계약서 모달 처음에는 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,0.7);*/
}

.ContractModal-content { /* 계약서 모달내용 창 */
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    /*max-width: 1000%; 모달의 최대 가로 크기 */
    /*max-height: 80vh;*/ /* 모달의 최대 세로 크기 (화면 높이의 80%) */
    overflow-y: auto;

    width: 900px;  /*모달의 가로 크기 */
    height: 925px;  /*모달의 세로 크기 */
}




