<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your HTML Example</title>
</head>
<body>
<!-- Your HTML content here -->
<div class="container">

    <div class="data-card">
        <h2 class="title">계약 등록</h2>

        <div class="table-container">
            <table class="table" id="product" border="1">
                <thead>
                <tr>
                    <th>계약 코드</th>
                    <th>품목 코드</th>
                    <th>품목명</th>
                    <th>사업자 등록 번호</th>
                    <th>거래처 기업명</th>
                    <th>L/T</th>
                    <th>단가</th>
                    <th>계약서 이미지</th>
                    <th>계약 처리</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>ab15ee</td>
                    <td>
                        <select onChange="p_code_value(this.options[this.selectedIndex].value)">
                        <option value="p_code1">A</option>
                        <option value="p_code2">ab42e</option>
                        <option value="p_code3">B</option>
                        </select>

                        <button>확인</button>
                    </td>
                    <td>나사</td>
                    <td>
                        <select onChange="b_code_value(this.options[this.selectedIndex].value)">
                            <option value="b_code1">사업자 번호1</option>
                            <option value="b_code2">사업자 번호2</option>
                            <option value="b_code3">사업자 번호3</option>
                        </select>
                        <button>확인</button>

                    </td>
                    <td>길승산업</td>
                    <td>10</td>
                    <td>250</td>
                    <td>계약서1.jpg</td>
                    <td>
                        <div class="actions">
                            <button class="action-button action-button-check" onclick="contract_add_product(this)">계약 품목 추가</button>
                            <button class="action-button action-button-edit" onclick="contract_modify_and_save(this)">수정</button>
                            <button class="action-button action-button-delete" onclick="contract_registration_and_delete(this)">삭제</button>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

            <button onclick='contract_addRow()'> 계약 추가 </button>
            <button class="action-button action-button-registration" onClick="window.location.reload()"> 등록 </button> <br>



        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-latest.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script th:inline="javascript">

    function contract_modify_and_save(tag) {

        const tr = tag.closest("tr");

        const cell_0 = tr.children[0];
        const cell_5 = tr.children[5];
        const cell_6 = tr.children[6];


        if (cell_0.contentEditable == "true") {

            cell_0.contentEditable = "false";
            cell_5.contentEditable = "false";
            cell_6.contentEditable = "false";

            tag.innerText = "수정";

        //첫번째 셀의 contenteditable 속성이 false라면(나머지 셀들의 속성 동일)
        } else {

            //각 셀들의 contenteditable 속성 true로 모두 변경하여 수정 가능하게 함

            cell_0.contentEditable = "true";
            cell_5.contentEditable = "true";
            cell_6.contentEditable = "true";

            tag.innerText = "수정 완료";

            cell_0.focus();
        }
    }

    function contract_registration_and_delete(tag) {

        const tr = tag.closest("tr");
        tr.remove();
    }

    <!-- 선택한 품목코드로 품목명 검색-->
    function p_code_value(p_code) {

        console.log(p_code);
    }

    <!-- 선택한 사업자번호로 기업명 검색-->
    function b_code_value(b_code) {

        console.log(b_code);
    }

    function contract_add_product(tag) {

        const table = document.getElementById('product');

        const newRow = table.insertRow(2);

        for(let i = 0; i < 9; i++) {
            const new_cell = newRow.insertCell(i);
            let temp_html = '';

            if(i == 1) {

                temp_html =
                '<select onChange="p_code_value(this.options[this.selectedIndex].value)">' +
                    '<option value="p_code1">A</option>' +
                    '<option value="p_code2">ab42e</option>' +
                    '<option value="p_code3">B</option>' +
                '</select>' +

                '<button> 확인 </button>';

            }

            if(i == 8) {

                temp_html =
                    '<td>' +
                        '<div class="actions">' +
                            '<button class="action-button action-button-edit" onclick="contract_modify_and_save(this)">수정</button>' +
                            '<button class="action-button action-button-delete" onclick="contract_registration_and_delete(this)">삭제</button>' +
                        '</div>' +
                    '</td>';
            }


            new_cell.insertAdjacentHTML('afterbegin', temp_html);
        }



    }


    function contract_addRow() {

        const table = document.getElementById('product');
        const new_row = table.insertRow();

        const cell_length = table.rows[0].cells.length;

        for(let i = 0; i < cell_length; i++) {
            const new_cell = new_row.insertCell(i);
            let temp_html = '';

            if(i == 1) {

                temp_html =
                '<select onChange="p_code_value(this.options[this.selectedIndex].value)">' +
                    '<option value="p_code1">A</option>' +
                    '<option value="p_code2">ab42e</option>' +
                    '<option value="p_code3">B</option>' +
                '</select>' +

                '<button>확인</button>';

            }

             if(i == 3) {

                temp_html =
                '<select onChange="b_code_value(this.options[this.selectedIndex].value)">' +
                    '<option value="b_code1">사업자 번호1</option>' +
                    '<option value="b_code2">사업자 번호2</option>' +
                    '<option value="b_code3">사업자 번호3</option>' +
                '</select>' +

                '<button>확인</button>';

            }




            if(i == 7) {

                    temp_html = '<td>'+
                               '<input type="file" accept="image/png, image/jpg">' +
                               '</td>';
            }

            if(i == 8) {

                temp_html =
                    '<td>' +
                        '<div class="actions">' +
                            '<button class="action-button action-button-check" onclick="contract_add_product(this)">계약 품목 추가</button>'+
                            '<button class="action-button action-button-edit" onclick="contract_modify_and_save(this)">수정</button>'+
                            '<button class="action-button action-button-delete" onclick="contract_registration_and_delete(this)">삭제</button>'+
                        '</div>' +
                    '</td>';
            }

             new_cell.insertAdjacentHTML('afterbegin', temp_html);

        }


    }


</script>
</body>
</html>
