<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <link href="/css/existence.css" rel="stylesheet"/>

  <title>Your Page Title</title>
</head>
<body>
  <div class="container">
    <div class="bg-white box-shadow rounded-lg p-6" style="margin: auto">
      <div class="grid grid-cols-3 gap-4 mb-4">
        수불기간<input type="date">부터<input type="date">까지
      </div>
      <div class="w-full h-[300px] mb-4">
        <div style="width: 100%; height: 100%;"></div>
      </div>
      <div class="relative w-full overflow-auto">
        <div class="flex justify-center items-center space-x-2 mb-4">
          <input type="text" value="품목명 검색">
          <button onclick="searchProduct()" id ="search">검색</button>
          정렬선택 : <select>
            <option>전 체</option>
            <option>대분류</option>
            <option>중분류</option>
            <option>소분류</option>
          </select>
          </div>
        </div>
      <table>
        <thead>
        <tr>
          <th>품목명</th>
          <th>품목코드</th>
          <th>대분류</th>
          <th>중분류</th>
          <th>소분류</th>
          <th>재고</th>
          <th>공급 가격</th>
          <th>재고 금액</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>나사</td>
          <td>asaf</td>
          <td>대분류</td>
          <td>중분류</td>
          <td>소분류</td>
          <td>120</td>
          <td>100</td>
          <td>12000</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
<script src="/js/existence.js"></script>
</body>
</html>
