<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link href="/css/existence.css" rel="stylesheet"/>

  <title>Your Page Title</title>
</head>
<body>
  <div class="container">
    <div class="bg-white box-shadow rounded-lg p-6" style="margin: auto">
      <div class="grid grid-cols-3 gap-4 mb-4">
        수불기간<input id = "date1" type="date">부터<input id = "date2" type="date">까지
      </div>
      <div class="w-full h-[300px] mb-4">
        <div style="width: 100%; height: 100%;"></div>
      </div>
      <div class="relative w-full overflow-auto">
        <div class="flex justify-center items-center space-x-2 mb-4">
          <input type="text" id ="search">
          <button onclick="searchProduct();">검색</button>
          정렬선택 : <select id="selectInfo">
            <option>전 체</option>
            <option>대분류</option>
            <option>중분류</option>
            <option>소분류</option>
          </select>
          </div>
        </div>
      <table>
        <thead>
        <tr>
          <th>품목명</th>
          <th>품목코드</th>
          <th>출고가 있던 날</th>
          <th>재질</th>
          <th>높이</th>
          <th>길이</th>
          <th>너비</th>
          <th>대분류</th>
          <th>중분류</th>
          <th>소분류</th>
          <th>재고</th>
          <th>공급 가격</th>
          <th>재고 금액</th>
        </tr>
        </thead>
        <tbody class="existence_body">
        <tr th:each="existence: ${existenceList}">
          <td th:text="${existence.productName}"></td>
          <td th:text="${existence.product_code}"></td>
          <td th:text="${#temporals.format(existence.releaseDate, 'yyyy-MM-dd')}"></td>
          <td th:text="${existence.height}"></td>
          <td th:text="${existence.length}"></td>
          <td th:text="${existence.weight}"></td>
          <td th:text="${existence.unit.unit}"></td>
          <td th:text="${existence.assy.assy}"></td>
          <td th:text="${existence.unit.unit}"></td>
          <td th:text="${existence.assy.assy}"></td>
          <td th:text="${existence.part.part}"></td>
          <td th:text="${existence.release}"></td>
          <td th:text="${existence.existence}"></td>
          <td th:text="${existence.existence_price}"></td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  <div id="chart_div1" class="graph"></div>
  <script src="/js/existence.js"></script>
</body>
</html>
