<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/order.css">
    <title>발주서 발행</title>
</head>
<body class="body_css">
<h2 class="popup-center">발주서 발행</h2>
    <div class="container">
        <table class="table_css">
            <thead>
                <tr>
                    <th>품목명</th>
                    <th>품목코드</th>
                    <th>조달 수량</th>
                    <th>현재 재고량</th>
                    <th>제품 생산 예정 날짜</th>
                    <th>물품 발주일</th>
                    <th>L/T</th>
                    <th>업체명</th>
                    <th>e-mail</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr th:each="order : ${oList}">
                    <td th:text="${order.productName}"></td>
                    <td th:text="${order.productCode}"></td>
                    <td th:text="${order.num}"></td>
                    <td th:text="${order.existence}"></td>
                    <td th:text="${#dates.format(order.projectOutPutDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')}"></td>
                    <input type="hidden" th:text="${order.procurementPlanCode}">
                    <td th:text="${order.LT}"></td>
                    <th th:text="${order.departName}"></th>
                    <th th:text="${order.email}"></th>
                    <td><button th:attr="onclick='orderRegister(\'' + ${order.productCode} + '\',\'' + ${order.procurementPlanCode} + '\')'">등록</button></td>
                    <td><button th:attr="onclick='cancel(\'' + ${orderStat.index} + '\')'">취소</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="/js/orderRegister.js"></script>
</body>
</html>
