<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/order.css">
    <title>구매 발주서 목록</title>
    <style>
        .orderListSearchButton {  /* 검색버튼 */
            background-color: black;
            color: white;
        }

        .orderList_head {
            padding: 1rem;
            text-align: center;
            vertical-align: middle;
            font-weight: 500;
            border-bottom: 1px solid #e2e8f0;
        }
        .order-table-style{
            width: 90%;
            border-collapse: collapse;
            font-size: 0.875rem;
        }
    </style>
</head>
<body>
<div class="flex justify-between mb-4">
    <h1 class="text-xl font-bold">발주서 목록</h1>
    <div id="datesearch">
        <form action="#">
            <table border="1">
                <tr>
                    <td><input type="date" name="startDate"></td>
                    <td>~</td>
                    <td><input type="date" name="endDate"></td>
                    <td class="orderListSearchButton"><input class="orderListSearchButton" id="searchOrderWithDate" onclick="searchOrderListWithDate()" type="button" value="검색"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="orderContainer" style="overflow-y: auto; max-height: 270px; width:1645px ">
    <table class="order-table-style">
        <thead id="thead" class="orderList_head">
        <tr style="position: sticky;  top: 0;  background-color: #f2f2f2;">
            <th class="orderList_head">발주품</th>
            <th class="orderList_head">발주서 발행일</th>
            <th class="orderList_head">업체명</th>
            <th class="orderList_head">진척 검수 상태</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr class="orderList" th:each="order : ${oList}">
            <td th:text="${order.productName}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.departName}"></td>
            <td th:text="${order.orderState}"></td>
            <td>
                <div th:if="${order.progressInspectionStatus == true}"></div>
                <button class="orderListSearchButton" th:if="${order.progressInspectionStatus == false}" th:id="${order.productCode}"
                        th:attr="onclick='openOrderInspectPopup(\'' + ${order.productCode} + '\',\'' + ${order.procurementPlanCode} + '\',\'' + ${orderStat.index} + '\')'">진척검수등록
                </button>
            </td>
            <td th:attr="onclick='openOrder(\'' + ${order.procurementPlanCode} + '\')'">🔍️</td>
        </tr>
        </tbody>
    </table>
</div>
<div id="orderInspectPopup" class="popup"> <!--팝업창 백그라운드-->
    <div class="popup-inspector-content">
        <div id="orderListPopup"></div>
    </div>
</div>
<div id="orderPopup" class="orderPopup" onclick="closeOrder()"> <!--팝업창 백그라운드-->
    <div class="order-popup-content" id="order-popup-content">
        <div id="orderPopupDiv"></div>
    </div>
</div>
<script src="/js/order.js"></script>
</body>
</html>
