<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/order.css">

    <title>진척 검수</title>
</head>
<body>
<h2 class="title">진척 검수 등록</h2>
<div class="container">
    <table class="tableContainer">
        <thead class="theadContainer">
        <tr>
            <th class="thContainer">품목명</th>
            <th class="thContainer">품목코드</th>
            <th class="thContainer">수량</th>
            <th class="thContainer">재고량</th>
            <th class="thContainer">생산 예정일</th>
            <th class="thContainer">L/T</th>
            <th class="thContainer">발주일</th>
            <th class="thContainer">가로</th>
            <th class="thContainer">세로</th>
            <th class="thContainer">높이</th>
            <th class="thContainer">재질</th>
            <th class="thContainer">진척검수 확인</th>
        </tr>
        </thead>
        <tbody class="tbodyContainer" id="tbody" th:each="info :  ${orderInspect}">
        <tr>
            <td th:text="${info.productName}"></td>
            <td th:text="${info.productCode}"></td>
            <td th:text="${info.num}"></td>
            <td th:text="${info.existence}"></td>
            <td th:text="${info.orderDate}"></td>
            <td th:text="${info.LT}"></td>
            <td th:text="${info.projectOutPutDate}"></td>
            <td th:text="${info.width}"></td>
            <td th:text="${info.length}"></td>
            <td th:text="${info.height}"></td>
            <td th:text="${info.text}"></td>
            <td th:text="${info.orderState}"></td>
            <td>
                <button th:onclick="'orderRegisterIn(\'' + ${infoStat.index} + '\',\'' + ${info.procurementPlanCode} + '\')'">확인</button>
            </td>
        </tr>
        <tr>
            <td colspan="11" th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></td>
        </tr>
        <tr>
            <td colspan="11" th:text="${info.departName}"></td>
        </tr>
        </tbody>
    </table>
    <table class="hidden" id="hidden">
        <thead class="theadContainer">
        <tr>
            <th class="thContainer">품목명</th>
            <th class="thContainer">발주일</th>
            <th class="thContainer">진척 검수 계획일</th>
            <th class="thContainer"></th>
        </tr>
        </thead>
        <tbody class="tbodyContainer" id="progressInspection">
        <tr th:each="info : ${orderInspect}">
            <td th:text="${info.productName}"></td>
            <td th:text="${info.orderDate}"></td>
            <td id="setInspectDate"><input type="date"></td>
            <td id="buttonState">
                <button id="addProgressInspection" th:attr="onclick='addProgressInspection(\'' + ${info.productName}+ '\',\'' + ${info.procurementPlanCode}+ '\')'">진척검수 일정 등록</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button onclick="closePopup()">닫기</button>
</div>
<div class="popup" id="popup">
    <table style="width: 190px;">
        <thead>
        <tr>
            <th colspan="2">품목수준평가</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>규격</td>
            <td><input class="checkbox" type="checkbox"></td>
        </tr>
        <tr>
            <td>중량</td>
            <td><input class="checkbox" type="checkbox"></td>
        </tr>
        <tr>
            <td>재질</td>
            <td><input class="checkbox" type="checkbox"></td>
        </tr>
        <tr>
            <td>입고가능여부</td>
            <td><input class="checkbox" type="checkbox"></td>
        </tr>
        </tbody>
    </table>
    <div style="text-align: center;">
        <button class="inspect" onclick="inspectorCheck(this)">등록</button>
        <button class="exit" onclick="closeInspect('popup')">닫기</button>
    </div>
</div>
<script src="/js/order.js"></script>
</body>
</html>
