<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/order.css">
    <title>발주서 발행</title>
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <td style="text-align:center; background-color: #ccc;">업체명</td>
                    <td colspan="6" style="text-align:left; background-color: #fff;">
                        <label for="departName">
                            <select id="departName" onchange="orderRegister()">
                            <option>선택</option>
                            <th:block th:each="orderDto : ${oList}">
                                <option name = "departName" th:value="${orderDto.departName}" th:text="${orderDto.departName}" id = '${orderDtoStat.index}'></option>
                            </th:block>
                        </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>품목명</th>
                    <th>품목코드</th>
                    <th>조달 수량</th>
                    <th>현재 재고량</th>
                    <th>제품 생산 예정 날짜</th>
                    <th>물품 발주일</th>
                    <th>L/T</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${oList}">
                    <td th:text="${order.productName}"></td>
                    <td th:text="${order.productCode}"></td>
                    <td th:text="${order.num}"></td>
                    <td>현재 재고량들</td>
                    <td th:text="${#dates.format(order.projectOutPutDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${order.LT}"></td>
                    <td><button th:attr="onclick='cancel(this, \'' + ${order.productCode} + '\')'">취소</button></td>
                </tr>
            </tbody>
            <tr>
                <td style="text-align:center; background-color: #ccc;">이메일</td>
                <td colspan="6" style="text-align:left;">abcde@gmail.com</td>
            </tr>
        </table>
    </div>
    <div class="btn-container">
        <button id="registerBtn" class="btn btn-primary" onclick="orderReg()" disabled>발행</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/orderRegister.js"></script>
</body>
</html>
