<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <style>
        .plan_container {
                  width: 1000px;
        }

        td {
            text-align: center;
        }

    </style>

    <title>Your HTML Example</title>
</head>
<body>
<!-- Your HTML content here -->
<div class="plan_container">

    <div class="data-card">
        <h2 class="title">조달 계획 등록</h2>

        <td><input id="s_date" type="date" name="startDate"></td>
        <td>~</td>
        <td><input id="e_date" type="date" name="endDate"></td>

        <button type="submit" id="date_search" onclick="select_row()">검색</button>

        <div class="table-container">

            <table class="table" border="1" id="plan_table">
                <thead>
                <tr>
                    <th>조달 품목명</th>
                    <th>조달 품목 코드</th>
                    <th>필요 수량</th>
                    <th>조달 수량</th>
                    <th>L/T</th>
                    <th>제품 생산날짜</th>
                    <th>조달 업체명</th>
                    <th>현재 재고량</th>
                    <th>발주일</th>
                    <th>계획 등록</th>
                </tr>
                </thead>

                <tbody>
                </tbody>
            </table>

        </div>
    </div>


    <div class="data-card">
        <h2 class="title">조달 계획 관리</h2>

        <button onclick="plan_show('co')"> 조달 계획 불러오기 </button>

        <div class="table-container">

            <table class="table" border="1" id="plan_table_info" style="display:none">
                <thead>
                <tr>
                    <th>조달 품목명</th>
                    <th>조달 품목 코드</th>
                    <th>필요 수량</th>
                    <th>조달 수량</th>
                    <th>L/T</th>
                    <th>제품 생산 날짜</th>
                    <th>조달 업체명</th>
                    <th>현재 재고량</th>
                    <th>발주일</th>
                    <th>계획 관리</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>나사</td>
                    <td>A</td>
                    <td>16</td>
                    <td>4</td>
                    <td>5일</td>
                    <td>24/01/16</td>
                    <td>길승산업</td>
                    <td>12</td>
                    <td>24/01/10</td>
                    <td>
                        <div class="actions">
                            <button class="action-button action-button-edit" onclick="td_regOrder(this)">발주등록</button>
                            <button class="action-button action-button-edit" onclick="td_delete(this)">삭제</button>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
<script src="/js/ProcurementPlanRegistration.js"></script>
</body>
</html>
