<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your HTML Example</title>
</head>
<body>
<!-- Your HTML content here -->
<div class="container">

    <div class="data-card">
        <h2 class="title">조달 계획 등록</h2>

        <div class = "state-choose">
            <select onChange="table_change(this.options[this.selectedIndex].value)">
                <option value="need_plan">조달 계획 필요</option>
                <option value="before_proceeding">발주 전</option>
                <option value="order_proceeding">발주 중</option>
                <option value="order_completed">발주 완료</option>
            </select>
        </div>

        <div class="table-container">

            <table class="table" border="1" id="plan_table" style="display:inline">
                <thead>
                <tr>
                    <th>조달 품목명</th>
                    <th>조달 품목 코드</th>
                    <th>필요 수량</th>
                    <th>조달 수량</th>
                    <th>L/T</th>
                    <th>제품 생산날짜</th>
                    <th>조달 업체명</th>
                    <th>현재 재고량</th>
                    <th>발주일</th>
                    <th>발주 상태</th>
                    <th>계획 등록</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>나사</td>
                    <td>A</td>
                    <td>14</td>
                    <td>9</td>
                    <td>10일</td>
                    <td>23/12/26</td>
                    <td>길승산업</td>
                    <td>5</td>
                    <td>23/12/13</td>
                    <td>조달 계획 필요</td>
                    <td>
                        <div class="actions">
                            <button class="action-button action-button-edit" onclick="modify_and_save(this)">수정</button>
                            <button class="action-button action-button-registration" onclick="registration_and_delete(this)">등록</button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>A품목</td>
                    <td>ab42e</td>
                    <td>12</td>
                    <td>7</td>
                    <td>8일</td>
                    <td>23/12/27</td>
                    <td>길승산업</td>
                    <td>5</td>
                    <td>23/12/18</td>
                    <td>조달 계획 필요</td>
                    <td>
                        <div class="actions">
                            <button class="action-button action-button-edit" onclick="modify_and_save(this)">수정</button>
                            <button class="action-button action-button-registration" onclick="registration_and_delete(this)">등록</button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>나사</td>
                    <td>A</td>
                    <td>16</td>
                    <td>4</td>
                    <td>5일</td>
                    <td>24/01/23</td>
                    <td>길승산업</td>
                    <td>12</td>
                    <td>24/01/15</td>
                    <td>조달 계획 필요</td>
                    <td>
                        <div class="actions">
                            <button class="action-button action-button-edit" onclick="modify_and_save(this)">수정</button>
                            <button class="action-button action-button-registration" onclick="registration_and_delete(this)">등록</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>



            <table class="table" border="1" id="table1" style="display:none">
                <thead>
                <tr>
                    <th>조달 품목명</th>
                    <th>조달 품목 코드</th>
                    <th>필요 수량</th>
                    <th>조달 수량</th>
                    <th>L/T</th>
                    <th>제품 생산날짜</th>
                    <th>조달 업체명</th>
                    <th>현재 재고량</th>
                    <th>발주일</th>
                    <th>발주 상태</th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>나사</td>
                        <td>A</td>
                        <td>14</td>
                        <td>9</td>
                        <td>10일</td>
                        <td>23/12/26</td>
                        <td>길승산업</td>
                        <td>5</td>
                        <td>23/12/13</td>
                        <td>발주 전</td>
                    </tr>

                    <tr>
                        <td>A품목</td>
                        <td>ab42e</td>
                        <td>12</td>
                        <td>7</td>
                        <td>8일</td>
                        <td>23/12/27</td>
                        <td>길승산업</td>
                        <td>5</td>
                        <td>23/12/18</td>
                        <td>발주 전</td>
                    </tr>

                </tbody>
            </table>


            <table class="table" border="1" id="table2" style="display:none">

                <thead>
                <tr>
                    <th>조달 품목명</th>
                    <th>조달 품목 코드</th>
                    <th>필요 수량</th>
                    <th>조달 수량</th>
                    <th>L/T</th>
                    <th>제품 생산날짜</th>
                    <th>조달 업체명</th>
                    <th>현재 재고량</th>
                    <th>발주일</th>
                    <th>발주 상태</th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>나사</td>
                        <td>A</td>
                        <td>14</td>
                        <td>9</td>
                        <td>10일</td>
                        <td>23/12/26</td>
                        <td>길승산업</td>
                        <td>5</td>
                        <td>23/12/13</td>
                        <td>발주 중</td>
                    </tr>

                </tbody>
            </table>

            <table class="table" border="1" id="table3" style="display:none">

                <thead>
                <tr>
                    <th>조달 품목명</th>
                    <th>조달 품목 코드</th>
                    <th>필요 수량</th>
                    <th>조달 수량</th>
                    <th>L/T</th>
                    <th>제품 생산날짜</th>
                    <th>조달 업체명</th>
                    <th>현재 재고량</th>
                    <th>발주일</th>
                    <th>발주 상태</th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>나사</td>
                        <td>B</td>
                        <td>14</td>
                        <td>9</td>
                        <td>10일</td>
                        <td>23/12/15</td>
                        <td>마텍스</td>
                        <td>5</td>
                        <td>23/12/3</td>
                        <td>발주 완료</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-latest.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script th:inline="javascript">

    function modify_and_save(tag) {

        const tr = tag.closest("tr");

        const num = tr.children[3];
        const date = tr.children[8];

        const target = document.getElementById("deleteBtn1");
        //const delete_btn_state = document.getElementsByClassName('action-button action-button-registration');

        console.log(num, date);


        if (num.contentEditable == "true") {

            num.contentEditable = "false";
            date.contentEditable = "false";


            tag.innerText = "수정";

        //첫번째 셀의 contenteditable 속성이 false라면(나머지 셀들의 속성 동일)
        } else {

            //각 셀들의 contenteditable 속성 true로 모두 변경하여 수정 가능하게 함

            num.contentEditable = "true";
            date.contentEditable = "true";

            tag.innerText = "수정 완료";


            //첫번째 셀에 포커스를 줘서 상태 변경에 대해 알림.
            num.focus();

        }
    }

    function registration_and_delete(tag) {

        alert("등록 완료");

        const tr = tag.closest("tr");
        tr.remove();
    }


    function table_change(state) {

         if(state == "need_plan") {

            plan_table.style.display = "inline";
            table1.style.display = "none";
            table2.style.display = "none";
            table3.style.display = "none";

        }


        if(state == "before_proceeding") {

            plan_table.style.display = "none";
            table1.style.display = "inline";
            table2.style.display = "none";
            table3.style.display = "none";

        }

        else if(state == "order_proceeding") {

            plan_table.style.display = "none";
            table1.style.display = "none";
            table2.style.display = "inline";
            table3.style.display = "none";

        }

        else if(state == "order_completed") {

            plan_table.style.display = "none";
            table1.style.display = "none";
            table2.style.display = "none";
            table3.style.display = "inline";

        }


    }


</script>
</body>
</html>
