<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <style>
        td {
            text-align: center;
        }

    </style>

<!--    <link href="/css/Registration.css" rel="stylesheet"/>-->
    <title>Your HTML Example</title>
</head>
<body>
<!-- Your HTML content here -->
<div class="product_container">

    <div class="data-card">
        <h2 class="title">품목 정보 등록</h2>

        <div class="table-container">
            <table class="table" id="product" border="1">
                <thead>
                <tr>
                    <th>품목명</th>
                    <th>품목 코드</th>
                    <th>약칭</th>
                    <th>재질</th>
                    <th>규격 - 가로</th>
                    <th>규격 - 세로</th>
                    <th>규격 - 높이</th>
                    <th>중량</th>
                    <th>제품명</th>
                    <th>대분류</th>
                    <th>중분류</th>
                    <th>소분류</th>
                    <th>사진</th>
<!--                    <th>계약 여부</th>-->
                    <th>등록 처리</th>
                </tr>
                </thead>

                <tbody>
                </tbody>
            </table>

            <button class="action-button action-button-add" style="position: absolute" onclick='info_addRow()'>( + )</button>

        </div>
    </div>

    <div class="data-card">
        <h2 class="title">품목 정보 관리</h2>

        <button onclick="info_show('in')"> 품목 불러오기 </button>

        <div class="table-container">
            <table class="table" id="product_info" border="1" style="display:none">
                <thead>
                <tr>
                    <th>품목명</th>
                    <th>품목 코드</th>
                    <th>약칭</th>
                    <th>재질</th>
                    <th>규격 - 가로</th>
                    <th>규격 - 세로</th>
                    <th>규격 - 높이</th>
                    <th>중량</th>
                    <th>제품명</th>
                    <th>대분류</th>
                    <th>중분류</th>
                    <th>소분류</th>
                    <th>사진</th>
                    <th>계약 여부</th>
                    <th>품목 처리</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>나사</td>
                    <td>A</td>
                    <td>Na</td>
                    <td>철</td>
                    <td>5cm</td>
                    <td>6cm</td>
                    <td>7cm</td>
                    <td>18g</td>
                    <td>스마트폰</td>
                    <td>
                        <select name="state">
                            <option value="first">대분류 1</option>
                            <option value="second">대분류 2</option>
                        </select>
                    </td>
                    <td>
                        <select name="state">
                            <option value="first">중분류 1</option>
                            <option value="second">중분류 2</option>
                        </select>
                    </td>
                    <td>
                        <select name="state">
                            <option value="first">소분류 1</option>
                            <option value="second">소분류 2</option>
                        </select>
                    </td>
                    <td>사진1.png</td>
                    <td>계약 안됨</td>

                    <td>
                        <div class="actions">
                            <button class="action-button action-button-edit" onclick="info_modify_and_save(this)">수정</button>
                            <button class="action-button action-button-delete" onclick="info_delete(this)">삭제</button>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>
<script src="/js/ProductInformationRegistration.js"></script>
</body>
</html>