<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/js/ProductInformationRegistration.js"></script>
    <link href="/css/Registration.css" rel="stylesheet"/>
    <style>
        td, input {
            text-align: center;
        }

        .table-box {
            margin: auto;
        }

<!--        .data-card {-->
<!--            margin-top: 30px;-->
<!--        }-->
    </style>

    <link href="/css/Registration.css" rel="stylesheet"/>
    <title>Your HTML Example</title>
</head>
<body>


<div class="data-card">
    <h2 class="title">품목 정보 등록</h2>

<!--    <button id = show_product>품목 리스트 조회</button> &lt;!&ndash;// 품목 불러오기 &ndash;&gt;-->
<!--    <input id = "select">-->
<!--    <button id = "name_select">검색</button> &lt;!&ndash;// 품목이름 검색 &ndash;&gt;-->

    <div class="table-container">
        <table class="productImformationTable-style" id="product">
            <thead>
                <tr>
                    <th class="productImformationTable-header" style="width:127.86px;">품목명</th>
                    <th class="productImformationTable-header" style="width:117.78px;">약칭</th>
                    <th class="productImformationTable-header" style="width:117.78px;">재질</th>
                    <th class="productImformationTable-header" style="width:124.3px;">규격 (가로)</th>
                    <th class="productImformationTable-header" style="width:127.27px;">규격 (세로)</th>
                    <th class="productImformationTable-header" style="width:127.27px;">규격 (높이)</th>
                    <th class="productImformationTable-header" style="width:127.27px;">중량</th>
                    <th class="productImformationTable-header" style="width:234.41px;">소분류</th>
                    <th class="productImformationTable-header" style="width:258.81px;">도면 사진</th>
                    <th class="productImformationTable-header" style="width:108.27px;">등록 처리</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>

        <button class="action-button action-button-add" style="position: absolute" onclick='select_part()'>( + )
        </button>

    </div>
</div>

<div class="data-card" p>
    <h2 class="title" id="productTitle">품목 정보 관리</h2>

    <input id = "input_name">
    <button onclick="select_test()">품목명 검색</button>

    <div class="table-container">
        <table class="productImformationTable-style" id="product_info">
            <thead>
                <tr>
                    <th class="productImformationTable-header">품목명</th>
                    <!--                    <th>품목 코드</th>-->
                    <th class="productImformationTable-header">약칭</th>
                    <th class="productImformationTable-header">재질</th>
                    <th class="productImformationTable-header">규격 (가로)</th>
                    <th class="productImformationTable-header">규격 (세로)</th>
                    <th class="productImformationTable-header">규격 (높이)</th>
                    <th class="productImformationTable-header">중량</th>
                    <th class="productImformationTable-header">대분류</th>
                    <th class="productImformationTable-header">중분류</th>
                    <th class="productImformationTable-header">소분류</th>
                    <th class="productImformationTable-header">도면 사진</th>
                    <th class="productImformationTable-header">계약 여부</th>
                    <th class="productImformationTable-header">품목 처리</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>

    </div>

</div>

</body>
</html>
