<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/js/ProductInformationRegistration.js"></script>

    <title>품목의 계약 내역</title>
</head>
<body>

<h2 style="">계약 내역</h2>

<!--<button class="btn-modal" data-toggle="modal" data-target="#myModal" data-id="전달할 값">Open Modal</button>-->

<!--<div class="modal hide" id="myModal">-->

<!--    <div class = "modal-header">-->
<!--        <button class="close" data-dismiss="modal"> 모달 닫기 </button>-->
<!--        <h3>Modal header</h3>-->
<!--    </div>-->

<!--    <div class="modal-body">-->
<!--        <input type="text" class="body-contents" id="contents" />-->
<!--    </div>-->

<!--</div>-->

<!-- 스크립트 단-->
<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<!--<script>-->

<!--    $(".btn-modal").click(function(){-->
<!--	    var data = $(this).data('id');-->

<!--	    console.log(data);-->

<!--        $("#contents.body-contents").val(data);-->
<!--&lt;!&ndash;        $("#text-contents.body-contents").html(data);&ndash;&gt;-->
<!--    });-->


<!--</script>-->


</body>
</html>