<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입고처리</title>
    <link href="/css/ALL.css" rel="stylesheet"/>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
    <h1>입고처리</h1>
    <div id="searcharea">
        <form action="">
            <table border="1">
                <tr>
                    <td><input type="text" name="inputData"></td>
                    <td>
                        <select name="searchData">
                            <option value="searchProductName">품목명</option>
                            <option value="searchDepartName">업체명</option>
                        </select>
                    </td>

                    <td>
                        <select name="searchState">
                            <option value="전체">전체</option>
                            <option value="검수완료">검수완료</option>
                            <option value="마감">마감</option>

                        </select>
                    </td>
                    <td><input id="serchbutton"  type="submit" value="검색"></td>
                </tr>
            </table> 
        </form>
    </div>

    <div class="relative w-full overflow-auto">
        <table class="table-style">
            <thead>
                <tr style="position: sticky;  top: 0;  background-color: #f2f2f2;">
                    <th class="table-header">품목코드</th>
                    <th class="table-header">품목명</th>
                    <th class="table-header">업체명</th>
                    <th class="table-header">사업자번호</th>
                    <th class="table-header">발주서 발행일</th>
                    <th class="table-header">발주일</th>
                    <th class="table-header">입고일</th>
                    <th class="table-header">조달예정수량</th>
                    <th class="table-header">입고수량</th>
                    <th class="table-header">품목처리상태</th>
                    <th class="table-header">입고처리버튼</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="list : ${procumentList}">
                        <td class="table-data" hidden="hidden"><input th:id="code+${list.procurementplan_code}" class="input-form-style" type="text" name="procurementplan_code" th:value="${list.procurementplan_code}" readonly></td>
                        <td class="table-data"><input class="input-form-style" type="text" name="productcode" th:value="${list.productcode}" readonly></td>
                        <td class="table-data"><input class="input-form-style" type="text" name="productname" th:value="${list.productname}" readonly></td>
                        <td class="table-data"><input class="input-form-style" type="text" name="departName" th:value="${list.departName}" readonly></td>
                        <td class="table-data"><input class="input-form-style" type="text" name="businessNumber" th:value="${list.businessNumber}" readonly></td>
                        <td class="table-data"><input class="input-form-style" type="text" name="DateOfOrder" th:value="${list.DateOfOrder}" readonly></td>
                        <td class="table-data"><input class="input-form-style" type="text" name="OrderDate" th:value="${list.OrderDate}" readonly></td>
                        <td class="table-data"><input class="input-form-style" type="text" name="Arrival" value="" readonly></td>
                        <td class="table-data"><input class="input-form-style" type="number" name="SupportProductAmount" th:value="${list.SupportProductAmount}" readonly></td>
                        <td class="table-data" style="width:100px;" ><input th:id="store+${list.procurementplan_code}" type="number" name="store" style="text-align: center; width:100px"></td>
                        <td class="table-data"><input class="input-form-style" type="text" name="orderState" th:value="${list.orderState}" readonly></td>
                        <td class="table-data">
                            <input type="button" style="background-color: blue; color: white;" value="입고처리" onclick="sendData('${list.procurementplan_code}')"/>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
