<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/ALL.css" rel="stylesheet"/>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
    <h1>입고처리</h1>
    <div id="searcharea">
        <form action="">
            <table border="1">
                <tr>
                    <td><input type="text" name="보내는칸"></td>
                    <td>
                        <select name="검색종류">
                            <option value="품목명">추가로 적어야됨</option>
                            <option value="납기일">납기일</option>
                            <option value="업체명">업체명</option>
                        </select>
                    </td>

                    <td>
                        <select name="입고 처리 상태">
                            <option value="전체">전체</option>
                            <option value="미완료">미완료</option>
                            <option value="완료">완료</option>
                            
                        </select>
                    </td>
                    <td><input id="serchbutton"  type="submit" value="검색"></td>
                </tr>
            </table> 
        </form>
    </div>

    <div class="relative w-full overflow-auto">
        <table class="table-style">
            <thead>
                <tr>
                    <th class="table-header">발주서코드</th>
                    <th class="table-header">품목명</th>
                    <th class="table-header">발주서 발행일</th>
                    <th class="table-header">업체명</th>
                    <th class="table-header">사업자번호</th>
                    <th class="table-header">입고처리 상태(script)</th>
                    <th class="table-header">입고처리확인</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="table-data">Ad01</td>
                    <td class="table-data">나사 망치...</td>
                    <td class="table-data">1210</td>
                    <td class="table-data">길승산업</td>
                    <td class="table-data">442-88-00181</td>
                    <td class="table-data">미완료(script처리)</td>
                    <td class="table-data">
                        <button id="modalBTN" style="background-color: blueviolet; color: white;" onclick="openModal()">(모달창)확인</button>
                    </td>
                </tr>

                <tr>
                    <td class="table-data">Ad01</td>
                    <td class="table-data">나사</td>
                    <td class="table-data">1210</td>
                    <td class="table-data">길승산업</td>
                    <td class="table-data">442-88-00181</td>
                    <td class="table-data">완료</td>
                    <td class="table-data">

                    </td>
                </tr>


            </tbody>
        </table>
    </div>






    <div id="myModal" class="modal"> <!--모달창 백그라운드-->
        <div class="modal-content"> <!--모달창 내용-->
            <iframe src="ReceivingProcessModal" width="100%" height="100%" frameborder="0"></iframe>
            <button class="button-style" onclick="closeModal()">취소</button>
        </div><!--모달창 내용끝-->
    </div> <!--모달창 백그라운드?-->
    <script src="/js/ReceivingProcessing.js"></script>
</body>
</html>
