<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/ALL.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>품목현환관리 리포트</title>

</head>
<body>
                <div class="flex justify-between mb-4">
                    <h1 class="text-xl font-bold" onclick="test()">현황관리 리포트</h1>
                    <div id="datesearch">
                        <table>
                            <tr>
                                <td><input id=startDate type="date" name="startDate"></td>
                                <td>~</td>
                                <td><input id=endDate type="date" name="endDate"></td>

                                <td><input id="serchbutton"  type="submit" value="검색" onclick="drawChart(); sendSMRURL();" >
                                    <!--발표떄 검색을 누르면 그래프와 리스트가 동시에 나오는것을 하기위해 임시로 만든 버튼 <button type="button" id="serchbutton" onclick="drawChart()" >검색</button> -->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="table-container" style="overflow-y: auto; max-height: 270px; width:1376px ">
                    <table class="table-style">
                        <thead >
                            <tr style="position: sticky;  top: 0;  background-color: #f2f2f2;">
                                <th class="table-header">품목코드</th>
                                <th class="table-header">품목명</th>
                                <th class="table-header">업체명</th>
                                <th class="table-header">사업자번호</th>
                                <th class="table-header">발주서 발행일</th>
                                <th class="table-header">발주일</th>
                                <th class="table-header">입고일</th>
                                <th class="table-header">품목처리상태</th>
                            </tr>
                        </thead >

                        <tbody id="tableBody">
                            <tr th:each="statementDTO : ${statementDTOList}">
<!--                                <td class="table-data" th:text="${statementDTO.productcode}">A</td>-->
<!--                                <td class="table-data" th:text="${statementDTO.productname}">나사</td>-->
<!--                                <td class="table-data" th:text="${statementDTO.departName}">(유)길승산업</td>-->
<!--                                <td class="table-data" th:text="${statementDTO.businessNumber}">Xxx-xxx-xxxxx</td>-->
<!--                                <td class="table-data" th:text="${statementDTO.dateOfOrder}">null</td>-->
<!--                                <td class="table-data" th:text="${statementDTO.orderDate}">2023/12/15</td>-->
<!--                                <td class="table-data" th:text="${statementDTO.Arrival}">null</td>-->
<!--                                <td class="table-data" th:text="${statementDTO.orderState}">발주전</td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div class="w-1/3 pl-4"> <!--차트그려주는 구간 시작-->
                <div id="donutchart" style="width: 100%; height: 500px;" >test</div>
            </div>                   <!--차트그려주는 구간 끝-->

    <script src="/js/StatusManagementReport.js"></script>
</body>


</html>
