<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link href="/css/stockDelivery.css" rel="stylesheet"/>
</head>
<body>
<div class="flex space-x-2">
    <input class="button filter-button" id="searchWord"/>
    <label>
        <select id="searchNameOrCode">
            <option value="ProductName">품목명</option>
            <option style="font-size: 10px" value="ProductCode">품목코드</option>
        </select>
    </label>
    <button class="button primary-button" onclick="findRelease()">검색</button>
</div>
</div>
<div class="w-full h-[300px] mb-4">
    <div style="width: 50%; height: 50%;"></div>
</div>
<div class="relative w-full overflow-auto">
    <table class="table">
        <thead>
        <tr>
            <th class="table-header">품목명</th>
            <th class="table-header">품목코드</th>
            <th class="table-header">출고 날짜</th>
            <th class="table-header">재질</th>
            <th class="table-header">높이</th>
            <th class="table-header">길이</th>
            <th class="table-header">너비</th>
            <th class="table-header">공급가격</th>
            <th class="table-header">출고</th>
            <th class="table-header">재고</th>
            <th class="table-header">재고금액(재고*공급가격)</th>
            <th class="table-header"></th>
        </tr>
        </thead>
        <tbody class="table_body" id="release_table">
        <tr th:each="release : ${releaseInfo}">
            <td class="table-body" th:text="${release.productName}"></td>
            <td class="table-body" th:text="${release.product_code}"></td>
            <td class="table-body"></td>
            <td class="table-body" th:text="${release.texture}"></td>
            <td class="table-body" th:text="${release.height}"></td>
            <td class="table-body" th:text="${release.length}"></td>
            <td class="table-body" th:text="${release.weight}"></td>
            <td class="table-body" id="supplyPrice" th:text="${release.contract_pay}"></td>
            <td class="table-body"><input style="width:80px" type="number" id="release"></td>
            <td class="table-body" th:text="${release.existence}"></td>
            <td class="table-body" th:text="${release.existence_price}"></td>
            <input type="hidden" th:value="${release.procurementPlan_code}">
            <td class="table-body">
                <button class="action-button action-button-registration"
                        th:onclick="'submitToRelease(\'' + ${releaseStat.index} + '\', \'' + ${release.procurementPlan_code} + '\')'">확인</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/js/stockDelivery.js"></script>
</body>
</html>
