<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="chrome=1,IE=edge">
    <link rel="stylesheet" href="/css/total.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>-->
    <title>프로세스</title>

</head>
<body>
<div class="back">
    <div class="custom-container">
        <button class="custom-button" id="total">
            Total
        </button>
        <button class="custom-button" id="part-filed">
            <span class="icon1">&#9650;</span>
            조달관리
        </button>
        <button class="custom-button" id="part-filed2">
            <span class="icon2">&#9650;</span>
            발주관리
        </button>
        <button class="custom-button" id="part-filed3">
            <span class="icon3">&#9650;</span>
            자재관리
        </button>
    </div>

    <div class="innerGround"></div>
    <div class="innerGroundShadow">
        <div class="tab_menu">
            <div class="tap_list">
            </div>
            <div class="cont_area">
            </div>
        </div>
    </div>

    <div class="side-category">
        <div class="procurement-management" id="procurement" style="display: none">
            <u onclick='sendDateToChild("item")' id="item">품목정보등록</u><br/>
            <u onclick='sendDateToChild("contract")' id="contract">계약등록</u><br/>
            <u onclick='sendDateToChild("procurementPlan")' id="procurementPlan">조달계획등록</u>
        </div>
        <div class="order-management" id="order" style="display: none">
            <u onclick='sendDateToChild("orderPublish")' id="orderPublish">발주서발행</u><br>
            <u onclick='sendDateToChild("orderList")' id="orderList">발주서목록</u><br>
            <u onclick='sendDateToChild("current")' id="current">현황관리</u>
        </div>
        <div class="materials-management" id="materials" style="display: none">
            <u onclick='sendDateToChild("materialsProcess")' id="materialsProcess">입고처리</u><br>
            <u onclick='sendDateToChild("TradingStatement")' id="TradingStatement">거래명세서</u><br>
            <u onclick='sendDateToChild("InventoryCalculation")' id="InventoryCalculation">재고산출처리</u><br>
            <u onclick='sendDateToChild("StatusManagement")' id="StatusManagement">현황리포트</u>
        </div>
    </div>
</div>
<script src="/js/total.js"></script>
</body>
</html>
